# Ignored Folders
old/
.Rproj.user/
*_cache/
*_files/
references/
*apikey.R
pptx/

# Ignored file types
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc

# Ignoring large files
lanl-auth-dataset-1-03.csv
lectures/04_analytics_process_and_etl/ipstackKey.R
class_code/apikey.R
class_code/apikey.R
